body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
  box-sizing: border-box;
  color: #35465d;
}

 @font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; } 


.file-upload {
    padding: 15% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
	padding-top: 70px;
    padding-bottom: 70px;
}
.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
    width: 60%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #35465d82;
    border: 1.5px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 500;
  text-transform: uppercase;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.try-again-btn {
  border-radius: 40px;
  border: solid 1.5px #35465d;
  background-color: #35465d;
}

.try-again-text {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.navbar-light .navbar-brand {
  line-height: 1.68;
  text-align: left;
  color: #35465d; 
}

.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.section {
    margin-top: 20px;
}

.title { 
  font-family: 'Recipekorea';
  line-height: 1.67;
  text-align: center;
  color: #fb7d79;
}

.subtitle {
  font-family: 'Recipekorea';
  line-height: 1.53;
  text-align: center;
  color: #35465d;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
    .navbar-brand {
        font-size: 1.6rem;
    }
}


.youtube-link {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-link:hover {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-icon {
    width: 30px;
    height: 27.262px;
}

.upload {
    width: 20%;
}

.upload-text {
    width: 58%;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
}

.footer {
    background-color: initial;
    color: initial;
}

.bar-container {
  height: 2.7rem;
}

/* 바 부분 디자인 */
.m-pro-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(215, 212, 219);
}
.m-pro-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(53, 40, 74);
}

.m-hc-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(230, 226, 233);
}
.m-hc-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(129, 111, 144);
}

.m-hl-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(253, 229, 228);
}

.m-hl-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(251, 125, 121);
}

.m-mc-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(254, 235, 229);
}
.m-mc-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(251, 157, 126);
}
.m-ow-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(254, 245, 236);
}
.m-ow-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(248, 205, 158);
}
.w-pro-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(214, 245, 248);
}
.w-pro-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(50, 206, 219);
}
.w-hc-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(237, 248, 231);
}
.w-hc-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(167, 218, 133);
}
.w-hl-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(253, 238, 231);
}

.w-hl-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(243, 169, 134);
}
.w-sk-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(253, 234, 242);
}
.w-sk-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(243, 149, 192);
}
.w-ow-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgb(226, 248, 240);
}
.w-ow-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(110, 218, 179);
}


.percent-text {
  font-size: 1rem;
  color: #ffffff;
}
.healchang-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}
#label-container {
    width: 80%;
    margin: 0 auto;
}
.result-message {
    font-size: 2rem;
}


.healchang-explain {
    font-size: 1.4rem;
}
.m-pro-healchang-title {
    color: #35284a;
}
.m-pro-healchang-celeb {
    color: #35284a;
    font-size: 1.3rem;
}
.m-hc-healchang-title {
    color: #816f90;
}
.m-hc-healchang-celeb {
    color: #816f90;
    font-size: 1.2rem;
}
.m-hl-healchang-title {
    color: #fb7d79;
}
.m-hl-healchang-celeb {
    color: #fb7d79;
    font-size: 1.2rem;
}
.m-mc-healchang-title {
    color: #fb9d7e;
}
.m-mc-healchang-celeb {
    color: #fb9d7e;
    font-size: 1.2rem;
}
.m-ow-healchang-title {
    color: #f8cd9e;
}
.m-ow-healchang-celeb {
    color: #f8cd9e;
    font-size: 1.2rem;
}
.w-pro-healchang-title {
    color: #32cedb;
}
.w-pro-healchang-celeb {
    color: #32cedb;
    font-size: 1.2rem;
}
.w-hc-healchang-title {
    color: #a7da85;
}
.w-hc-healchang-celeb {
    color: #a7da85;
    font-size: 1.2rem;
}
.w-hl-healchang-title {
    color: #f3a986;
}
.w-hl-healchang-celeb {
    color: #f3a986;
    font-size: 1.2rem;
}
.w-sk-healchang-title {
    color: #f395c0;
}
.w-sk-healchang-celeb {
    color: #f395c0;
    font-size: 1.2rem;
}
.w-ow-healchang-title {
    color: #6edab3;
}
.w-ow-healchang-celeb {
    color: #6edab3;
    font-size: 1.2rem;
}



/* gender */
input#gender {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

/*box-shadow 진핑크-> 진파랑, background-color연핑크->연파랑*/
.knob {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  height: 41px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #a1c6dd inset;
  background-color: #e2ecf4;
  transition: 0.3s;
}

.knob > i:before {
  left: 4px;
}
.knob > i:after {
  left: -6px;
}

/*눌렀을때 회전 : box-shadow진한파랑->진한핑크, background-color연한파랑->연한핑크*/
input:checked + label > .knob {
  box-shadow: 0 0 0 8px #f470a7 inset;
  background-color: #fbd4e6;
  transform: translateX(49px) rotate(-140deg);
}


/*색상 : 여자 세로 줄 부분 진한파랑->진한핑크*/
input:checked + label > .knob > i {
  background-color: #f470a7;
}

/*색상 : 여자 화살표 부분 진한파랑->진한핑크*/
input:checked + label > .knob > i:after,
input:checked + label > .knob > i:before {
  background-color: #f470a7;
}


input:checked + label > .knob > i:after {
  top: 14.5px;
  width: 12px;
  left: -7px;
  transform: rotate(45deg);
}
input:checked + label > .knob > i:before {
  top: 13px;
  width: 12px;
  left: 0px;
  transform: rotate(134deg);
}

.ad-banner {
  max-width: 320px;
}
.select-language {
  font-size: 2em;
}